<section class="block block--light feature">
  <header class="block__header">
    <h2 class="block__heading">Regular Classes</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, nam!</p>
  </header>

  <span
    class="container--mid assanas assanas--brown"
    data-aos="fade-right"
    data-aos-duration="3000"
  >
    <svg>
      <use href="images/sprite.svg#a1"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a2"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a3"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a4"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a5"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a6"></use>
    </svg>
  </span>

  <article class="container grid grid--1x2 feature__item">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon">
          <use href="images/sprite.svg#symbol1"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Fly Yoga</h3>

      <p>
        Photo by cottonbro from Pexels. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore
        excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>

    <picture data-aos="zoom-in-left" data-aos-duration="2200">
      <source
        type="image/webp"
        srcset="
          images/fly@1x.webp  1x,
          images/fly@1.5.webp 2x,
          images/fly@2x.webp  2x
        "
      />
      <source
        type="image/jpg"
        srcset="
          images/fly@1x.jpg  1x,
          images/fly@1.5.jpg 2x,
          images/fly@2x.jpg  2x
        "
      />
      <img
        class="feature__image"
        src="images/fly@1.5.jpg"
        alt="Woman performing half split on yoga swing"
      />
    </picture>
  </article>

  <article class="container grid grid--1x2 feature__item">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon">
          <use href="images/sprite.svg#symbol2"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Iyengar Yoga</h3>

      <p>
        Photo by Monstera from Pexels. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore
        excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>

    <picture data-aos="zoom-in-right" data-aos-duration="2200">
      <source
        type="image/webp"
        srcset="
          images/iyengar@1x.webp  1x,
          images/iyengar@1.5.webp 2x,
          images/iyengar@2x.webp  2x
        "
      />
      <source
        type="image/jpg"
        srcset="
          images/iyengar@1x.jpg  1x,
          images/iyengar@1.5.jpg 2x,
          images/iyengar@2x.jpg  2x
        "
      />
      <img
        class="feature__image"
        src="images/iyengar@1.5.jpg"
        alt="Woman stretching on mat "
      />
    </picture>
  </article>
  <article class="container grid grid--1x2 feature__item">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon">
          <use href="images/sprite.svg#symbol3"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Ashtanga Yoga</h3>

      <p>
        Photo by Marta Wave from Pexels. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore
        excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>

    <picture data-aos="zoom-in-left" data-aos-duration="2200">
      <source
        type="image/webp"
        srcset="
          images/ashtanga@1x.webp  1x,
          images/ashtanga@1.5.webp 2x,
          images/ashtanga@2x.webp  2x
        "
      />
      <source
        type="image/jpg"
        srcset="
          images/ashtanga@1x.jpg  1x,
          images/ashtanga@1.5.jpg 2x,
          images/ashtanga@2x.jpg  2x
        "
      />
      <img
        class="feature__image"
        src="images/ashtanga@1.5.jpg"
        alt="Woman performing headstand with split"
      />
    </picture>
  </article>
  <article class="container grid grid--1x2 feature__item">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon">
          <use href="images/sprite.svg#symbol4"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Meditation</h3>

      <p>
        Photo by Rebecca Zaal from Pexels. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at.
        Labore excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>

    <picture data-aos="zoom-in-right" data-aos-duration="2200">
      <source
        type="image/webp"
        srcset="
          images/meditation@1x.webp  1x,
          images/meditation@1.5.webp 2x,
          images/meditation@2x.webp  2x
        "
      />
      <source
        type="image/jpg"
        srcset="
          images/meditation@1x.jpg  1x,
          images/meditation@1.5.jpg 2x,
          images/meditation@2x.jpg  2x
        "
      />
      <img
        class="feature__image"
        src="images/meditation@1.5.jpg"
        alt="Golden Buddha statue"
      />
    </picture>
  </article>

  <span
    class="container--mid assanas assanas--brown"
    data-aos="fade-left"
    data-aos-duration="3000"
  >
    <svg>
      <use href="images/sprite.svg#a7"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a8"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a2"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a9"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a12"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a13"></use>
    </svg>
  </span>
</section>

<script src="js/main.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
