<section class="block block--light showcase">
  <div class="container--mid container--olive">
    <div class="container container--gradient team">
      <header class="block__header">
        <h2 class="block__heading">Meet Our Team</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio iure
          necessitatibus eaque. Molestiae, deserunt perferendis.
        </p>
      </header>

      <div
        class="grid grid--1x2 grid--1x3"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        <div>
          <picture>
            <source
              type="image/webp"
              srcset="
                images/t1@1x.webp  1x,
                images/t1@1.5.webp 2x,
                images/t1@2x.webp  2x
              "
            />
            <source
              type="image/jpg"
              srcset="
                images/t1@1x.jpg  1x,
                images/t1@1.5.jpg 2x,
                images/t1@2x.jpg  2x
              "
            />
            <img
              src="images/t1@1.5.jpg"
              alt="Asian looking gril holding exercise mat"
            />
          </picture>
          <h4 class="team__name">Fly Teacher</h4>
          <p class="team__bio">
            Photo by Miriam Alonso from Pexels. Lorem ipsum dolor sit.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>

        <div>
          <picture>
            <source
              type="image/webp"
              srcset="
                images/t2@1x.webp  1x,
                images/t2@1.5.webp 2x,
                images/t2@2x.webp  2x
              "
            />
            <source
              type="image/jpg"
              srcset="
                images/t2@1x.jpg  1x,
                images/t2@1.5.jpg 2x,
                images/t2@2x.jpg  2x
              "
            />

            <img
              src="images/t2@1.5.jpg"
              alt="Dark skin woman standing in tree pose"
            />
          </picture>
          <h4 class="team__name">Iyengar Teacher</h4>
          <p class="team__bio">
            Photo by Angela Roma from Pexels. Lorem ipsum dolor sit.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>

        <div>
          <picture>
            <source
              type="image/webp"
              srcset="
                images/t3@1x.webp  1x,
                images/t3@1.5.webp 2x,
                images/t3@2x.webp  2x
              "
            />
            <source
              type="image/jpg"
              srcset="
                images/t3@1x.jpg  1x,
                images/t3@1.5.jpg 2x,
                images/t3@2x.jpg  2x
              "
            />
            <img src="images/t3@1.5.jpg" alt="Smiling gril - yoga instructor" />
          </picture>
          <h4 class="team__name">Ashtanga Teacher</h4>
          <p class="team__bio">
            Photo by Marta Wave from Pexels. Lorem ipsum dolor sit.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>

        <div>
          <picture>
            <source
              type="image/webp"
              srcset="
                images/t4@1x.webp  1x,
                images/t4@1.5.webp 2x,
                images/t4@2x.webp  2x
              "
            />
            <source
              type="image/jpg"
              srcset="
                images/t4@1x.jpg  1x,
                images/t4@1.5.jpg 2x,
                images/t4@2x.jpg  2x
              "
            />
            <img
              src="images/t4@1.5.jpg"
              alt="Older woman sitting in lotus pose"
            />
          </picture>
          <h4 class="team__name">Meditation Teacher</h4>
          <p class="team__bio">
            Photo by Vlada Karpovich from Pexels. Lorem ipsum dolor sit.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>

        <div>
          <picture>
            <source
              type="image/webp"
              srcset="
                images/t5@1x.webp  1x,
                images/t5@1.5.webp 2x,
                images/t5@2x.webp  2x
              "
            />
            <source
              type="image/jpg"
              srcset="
                images/t5@1x.jpg  1x,
                images/t5@1.5.jpg 2x,
                images/t5@2x.jpg  2x
              "
            />
            <img src="images/t5@1.5.jpg" alt="Man holding singing bowl" />
          </picture>
          <h4 class="team__name">Sound Therapist</h4>
          <p class="team__bio">
            Photo by ANTONI SHKRABA from Pexels. Lorem ipsum dolor.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>

        <div>
          <picture>
            <source
              type="image/webp"
              srcset="
                images/t6@1x.webp  1x,
                images/t6@1.5.webp 2x,
                images/t6@2x.webp  2x
              "
            />
            <source
              type="image/jpg"
              srcset="
                images/t6@1x.jpg  1x,
                images/t6@1.5.jpg 2x,
                images/t6@2x.jpg  2x
              "
            />
            <img
              src="images/t6@1.5.jpg"
              alt="Young man kneeling in front of nails boards"
            />
          </picture>
          <h4 class="team__name">Sadhu Nails Therapist</h4>
          <p class="team__bio">
            Photo by Mikhail Nilov from Pexels. Lorem ipsum dolor sit.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
      </div>
    </div>

    <div
      class="container callout callout--accent"
      data-aos="zoom-in-up"
      data-aos-duration="1500"
    >
      <div class="grid grid--1x2">
        <div class="callout__content">
          <h2 class="callout__heading">Ready to Get Started ?</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident
            laborum neque veniam. A, quibusdam fugit.
          </p>
        </div>
        <button class="btn btn--accent btn--stretched">Book Free Class</button>
      </div>
    </div>

    <div class="container container--gradient facilities">
      <header class="block__header">
        <h2 class="block__heading">Yoga Room Facilities</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio iure
          necessitatibus eaque. Molestiae, deserunt perferendis.
        </p>
      </header>

      <div
        class="grid grid--1x2 grid--1x3"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        <div class="spec">
          <ul class="list list--tick">
            <li class="list__item">
              <h4 class="spec__heading">Yoga props</h4>
              <p>
                Photo by cottonbro from Pexels. Lorem ipsum, dolor sit amet
                consectetur adipisicing elit. Alias sit odit sequi magnam
                consequatur.
              </p>
            </li>
            <li class="list__item">
              <h4 class="spec__heading">Fly room</h4>
              <p>
                Photo by cottonbro from Pexels. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Explicabo architecto natus numquam
                ab, a ratione.
              </p>
            </li>
            <li class="list__item">
              <h4 class="spec__heading">Regular room</h4>
              <p>
                Photo by Yan Krukov from Pexels. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Beatae perferendis voluptatem sit,
                dignissimos at similique fuga!
              </p>
            </li>
            <li class="list__item">
              <h4 class="spec__heading">Therapy room</h4>
              <p>
                Photo by Tiff Ng from Pexels. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Veniam quisquam, ex nostrum vero
                voluptates dicta excepturi vel perspiciatis consequuntur.
              </p>
            </li>
          </ul>
        </div>

        <picture>
          <source
            type="image/webp"
            srcset="
              images/props@1x.webp  1x,
              images/props@1.5.webp 2x,
              images/props@2x.webp  2x
            "
          />
          <source
            type="image/jpg"
            srcset="
              images/props@1x.jpg  1x,
              images/props@1.5.jpg 2x,
              images/props@2x.jpg  2x
            "
          />
          <img
            class="props"
            src="images/props@1.5.jpg"
            alt="Shelf with yoga equipment"
          />
        </picture>

        <picture>
          <source
            type="image/webp"
            srcset="
              images/roomFly@1x.webp  1x,
              images/roomFly@1.5.webp 2x,
              images/roomFly@2x.webp  2x
            "
          />
          <source
            type="image/jpg"
            srcset="
              images/roomFly@1x.jpg  1x,
              images/roomFly@1.5.jpg 2x,
              images/roomFly@2x.jpg  2x
            "
          />
          <img
            class="fly"
            src="images/roomFly@1.5.jpg"
            alt="Exercise studio with yoga swings"
          />
        </picture>

        <picture>
          <source
            type="image/webp"
            srcset="
              images/roomStudio@1x.webp  1x,
              images/roomStudio@1.5.webp 2x,
              images/roomStudio@2x.webp  2x
            "
          />
          <source
            type="image/jpg"
            srcset="
              images/roomStudio@1x.jpg  1x,
              images/roomStudio@1.5.jpg 2x,
              images/roomStudio@2x.jpg  2x
            "
          />
          <img
            class="regular"
            src="images/roomStudio@1.5.jpg"
            alt="Yoga studio"
          />
        </picture>

        <picture>
          <source
            type="image/webp"
            srcset="
              images/roomTherapy@1x.webp  1x,
              images/roomTherapy@1.5.webp 2x,
              images/roomTherapy@2x.webp  2x
            "
          />
          <source
            type="image/jpg"
            srcset="
              images/roomTherapy@1x.jpg  1x,
              images/roomTherapy@1.5.jpg 2x,
              images/roomTherapy@2x.jpg  2x
            "
          />
          <img
            class="therapy"
            src="images/roomTherapy@1.5.jpg"
            alt="Tranquil meditation room"
          />
        </picture>
      </div>

      <!-- <div class="facilities__finish">
        <img class="lotus" src="images/lotus6.svg" alt="" />
      </div> -->

      <div
        class="facilities__finish"
        data-aos="fade-down"
        data-aos-duration="3000"
      >
        <svg>
          <use href="images/sprite.svg#lotus2"></use>
        </svg>
      </div>
    </div>
  </div>
</section>

<script src="js/main.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
