<section class="block hero hero--mobile hero--wide">
  <div class="grid">
    <div class="view-mobile">
      <picture>
        <source
          type="image/webp"
          srcset="images/lotus1_w260.webp 1x, images/lotus1_w784.webp 2x"
        />
        <source type="image/svg" srcset="images/lotus1.svg" />
        <img
          class="hero__lotus"
          src="images/lotus1.svg"
          alt="Gold lotus icon"
        />
      </picture>

      <h1 class="hero__heading">YOGA ROOM</h1>
      <p class="hero__cite">
        <span>The place where you </span>
        <span class="hero__accent">find peace</span>
      </p>

      <a href="#" class="btn btn--small btn--accent">Join Us</a>
    </div>

    <div class="view-wide">
      <picture>
        <source
          type="image/webp"
          srcset="images/lotus1_w784.webp 1x, images/lotus1_w1280.webp 2x"
        />
        <source type="image/svg" srcset="images/lotus1.svg" />
        <img
          class="hero__lotus"
          src="images/lotus1.svg"
          alt="Gold lotus icon"
        />
      </picture>

      <h1 class="hero__heading">YOGA ROOM</h1>
      <p class="hero__cite">
        <span>The place where you</span>
        <span class="hero__accent">find peace</span>
      </p>

      <a href="#" class="btn btn--small btn--accent">Join Us</a>
    </div>
  </div>
</section>
<p style="font-size: 1.5rem; color: black">
  Photo by EKATERINA BOLOVTSOVA from Pexels
</p>
