<footer class="block block--dark footer">
  <div class="container grid footer-sections">
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">About Us</h2>

        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer__item"><a href="#">Our Story</a></li>
          <li class="footer__item">
            <a href="#">Location</a>
          </li>
          <li class="footer__item"><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Schedule</h2>

        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer__item"><a href="#">Yoga Classes</a></li>
          <li class="footer__item">
            <a href="#">Therapies</a>
          </li>
          <li class="footer__item"><a href="#">Events</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Members</h2>

        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer__item"><a href="#">Sign Up</a></li>
          <li class="footer__item">
            <a href="#">Special Offers</a>
          </li>
          <li class="footer__item"><a href="#">Join Mailing List</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Help</h2>

        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer__item"><a href="#">Community</a></li>
          <li class="footer__item">
            <a href="#">Online Resources</a>
          </li>
          <li class="footer__item"><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <div class="footer__logo">
      <div class="nav__logo">
        <a href="/">
          <svg class="nav__logo-image">
            <use href="images/sprite.svg#logo"></use>
          </svg>
        </a>
        <a href="/" class="nav__logo-text">Yoga room</a>
      </div>
      <div class="footer__copyright">Copyright 2022 XmoCode</div>
    </div>
  </div>
</footer>

<script src="js/main.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
