<section class="block block--light feature-other">
  <header class="block__header">
    <h2 class="block__heading">Healing Therapies</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, nam!</p>
  </header>

  <article
    class="container grid grid--1x2 feature-other__item"
    data-aos="zoom-up"
    data-aos-duration="3000"
  >
    <div>
      <div
        class="therapies-mobile"
        data-aos="zoom-in-left"
        data-aos-duration="2200"
      >
        <picture>
          <source
            type="image/webp"
            srcset="
              images/bowl@1x.webp  1x,
              images/bowl@1.5.webp 2x,
              images/bowl@2x.webp  2x
            "
          />
          <source
            type="image/jpg"
            srcset="
              images/bowl@1x.jpg  1x,
              images/bowl@1.5.jpg 2x,
              images/bowl@2x.jpg  2x
            "
          />
          <img src="images/bowl@1.5.jpg" alt="Sound bowl" />
        </picture>
      </div>

      <picture class="block--textOutside">
        <source
          type="image/webp"
          srcset="images/sound@1x.webp 1x, images/sound@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/sound@1x.jpg 1x, images/sound@2x.jpg 2x"
        />
        <img src="images/sound@2x.jpg" alt="Man playing sound bowl" />
      </picture>

      <h3 class="feature__heading">Sound Healing</h3>
      <p>
        Photo by ANTONI SHKRABA from Pexels. Modi facilis ratione dolorem
        deserunt blanditiis soluta quo eveniet libero distinctio. Minus! Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Placeat iusto
        voluptate consequatur repellendus enim repudiandae. Lorem ipsum dolor
        sit, amet consectetur adipisicing elit. Mollitia libero eius tempora
        quidem illum. Possimus quo aliquid quasi nobis enim iure ex,ulpa rem
        numquam?
      </p>
    </div>

    <div>
      <div
        class="therapies-mobile"
        data-aos="zoom-in-right"
        data-aos-duration="2200"
      >
        <picture>
          <source
            type="image/webp"
            srcset="
              images/nails@1x.webp  1x,
              images/nails@1.5.webp 2x,
              images/nails@2x.webp  2x
            "
          />
          <source
            type="image/jpg"
            srcset="
              images/nails@1x.jpg  1x,
              images/nails@1.5.jpg 2x,
              images/nails@2x.jpg  2x
            "
          />
          <img src="images/nails@1.5.jpg" alt="Sadhu board with sharp nails" />
        </picture>
      </div>

      <picture class="block--textOutside">
        <source
          type="image/webp"
          srcset="images/sadhu@1x.webp 1x, images/sadhu@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/sadhu@1x.jpg 1x, images/sadhu@2x.jpg 2x"
        />
        <img
          src="images/sadhu@2x.jpg"
          alt="Man standing on sadhu board with sharp nails"
        />
      </picture>

      <h3 class="feature__heading">Sadhu Nails</h3>
      <p>
        Photo by Mikhail Nilov from Pexels. The practice of standing on the
        nails gives us the power to work with all unexpressed emotions and
        traumas lying deep inside. After constant practice you can take charge
        of the Monkey Mind, which in yoga is referred to a mind that is in
        constant flux. Above all, the practice helps each of us to get ride of
        muscle blocks, to connect with ourselves, relieve stress and restore our
        energy.
      </p>
    </div>
    <button class="btn btn--rainbow btn--stretched">Book Sound Session</button>
    <button class="btn btn--rainbow btn--stretched">Book Sadhu Session</button>
  </article>

  <span
    class="container--mid assanas assanas--olive"
    data-aos="fade-right"
    data-aos-duration="3000"
  >
    <svg>
      <use href="images/sprite.svg#a1"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a2"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a3"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a4"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a5"></use>
    </svg>
    <svg>
      <use href="images/sprite.svg#a6"></use>
    </svg>
  </span>
</section>

<script src="js/main.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
