<nav class="nav collapsible">
  <div class="nav__logo">
    <a aria-label="YogaRoom" href="/">
      <svg class="nav__logo-image">
        <use href="images/sprite.svg#logo"></use>
      </svg>
    </a>
    <a aria-label="YogaRoom" href="/" class="nav__logo-text">Yoga room</a>
  </div>

  <svg class="icon icon--white nav__toggler">
    <use href="images/sprite.svg#menu"></use>
  </svg>

  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Studio</a></li>
    <li class="nav__item"><a href="#">Offers</a></li>
    <li class="nav__item"><a href="#">Teachers</a></li>
    <li class="nav__item"><a href="#">About</a></li>
  </ul>
</nav>

<script src="js/main.js"></script>
