<div style="width: 45rem; padding: 4rem">
  <div class="card card--grey">
    <header class="card__header">
      <div class="plan__image">
        <img
          src="images/cushion.png"
          alt="Black sketch of meditation cushion"
        />
      </div>
      <div class="plan__name">Free Mind</div>
    </header>
    <div class="card__body">
      <div class="plan__price">only €60</div>

      <ul class="list list--tick">
        <li class="list__item">4 weeks programme</li>
        <li class="list__item">3 sessions per week</li>
        <li class="list__item">1 personal consultation</li>
      </ul>

      <div class="plan__buttons">
        <button class="btn btn--rainbow">
          <span class="btn btn__cup">Learn More</span>
        </button>
        <button class="btn btn--rainbow">
          <span class="btn btn__cup">Buy Now</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div style="width: 45rem; padding: 4rem">
  <div class="card card--gold">
    <header class="card__header">
      <div class="plan__image">
        <img
          src="images/samadhi.png"
          alt="Black sketch of meditation cushion"
        />
      </div>
      <div class="plan__name">Mind & Body</div>
    </header>
    <div class="card__body">
      <div class="plan__price">only €90</div>

      <ul class="list list--tick">
        <li class="list__item">6 weeks programme</li>
        <li class="list__item">2 yoga classes per week</li>
        <li class="list__item">2 meditations per week</li>
      </ul>
      <div class="plan__buttons">
        <button class="btn btn--rainbow">
          <span class="btn btn__cup">Learn More</span>
        </button>
        <button class="btn btn--rainbow">
          <span class="btn btn__cup">Buy Now</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div style="width: 45rem; padding: 4rem">
  <div class="card card--grey">
    <header class="card__header">
      <div class="plan__image">
        <img
          src="images/cushion.png"
          alt="Black sketch of meditation cushion"
        />
      </div>
      <div class="plan__name">Free Body</div>
    </header>
    <div class="card__body">
      <div class="plan__price">only €70</div>

      <ul class="list list--tick">
        <li class="list__item">4 weeks programme</li>
        <li class="list__item">2 yoga classes per week</li>
        <li class="list__item">1 healing session</li>
      </ul>

      <div class="plan__buttons">
        <button class="btn btn--rainbow">
          <span class="btn btn__cup">Learn More</span>
        </button>
        <button class="btn btn--rainbow">
          <span class="btn btn__cup">Buy Now</span>
        </button>
      </div>
    </div>
  </div>
</div>
