<div class="spec">
  <ul class="list list--tick">
    <li class="list__item">
      <h4 class="spec__heading">Yoga props</h4>
      <p>
        Photo by cottonbro from Pexels. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Alias sit odit sequi magnam consequatur.
      </p>
    </li>
    <li class="list__item">
      <h4 class="spec__heading">Fly room</h4>
      <p>
        Photo by cottonbro from Pexels. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Explicabo architecto natus numquam ab, a ratione.
      </p>
    </li>
    <li class="list__item">
      <h4 class="spec__heading">Regular room</h4>
      <p>
        Photo by Yan Krukov from Pexels. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Beatae perferendis voluptatem sit, dignissimos at
        similique fuga!
      </p>
    </li>
    <li class="list__item">
      <h4 class="spec__heading">Therapy room</h4>
      <p>
        Photo by Tiff Ng from Pexels. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Veniam quisquam, ex nostrum vero voluptates dicta
        excepturi vel perspiciatis consequuntur ab.
      </p>
    </li>
  </ul>
</div>
